<!doctype html>
<html>
  <head>
    <title>Transcripts Generator</title>
  </head>
  <body>
    <h1>Transcripts Generator</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file" ></p>
    
      <p><input type="submit" value="upload file"></p>
    </form>
  </body>
</html>

<!doctype html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1></h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
    
      <p><input type="submit" value="upload images"></p>
    </form>
  </body>
</html>



</head>
	
<body>

      <form class="grid" action="/range" method="POST">

        {% if name %}
          <center>
            <h3 style="color: blue;" class="let_space">Transcripts generated succesfully!!</h3>
          </center> 

        {% endif %}
        <label for="name">Enter the range of roll numbers:</label>
          <input type="text" id="rang1" name="range1">
          <input type="text" id="range2" name="range2">



        <input class="file_submit" type="Submit" value = 'generate transcripts'>
        
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <h3>{{ message }}</h3>
              {% endfor %}
            {% endif %} 
          {%endwith %}
        

      </form>

      

      

      
      <br>
      <br>
      <br>


  </body>

</html>




</head>
	
<body>

      <form class="grid" action="/result" method="POST">

        {% if name %}
          <center>
            <h3 style="color: blue;" class="let_space"></h3>
          </center> 

        {% endif %}
        



        <center><input class="file_submit" type="Submit" value = 'Generate all Transcripts'>TO generate transcripts</center>

      </form>

      

      

      
      <br>
      <br>
      <br>


  </body>

</html>


