<!doctype html>
<html>
  <head>
    <title>MARKSHEET GENERATOR</title>
  </head>
  <body>
    <h1>MARKSHEET GENERATOR</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      browse for master roll.csv
      <p><input type="file" name="file" multiple></p>
      <p><input type="submit" value="Submit"></p>
    </form>
    <form method="POST" action="" enctype="multipart/form-data">
      browse for response.csv
      <p><input type="file" name="file" multiple></p>
      <p><input type="submit" value="Submit"></p>
    </form>
  </body>
</html>


<html> 
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" type="text/css" href="../static/index.css"> 




	</head>
	
	<body>

        <form class="grid" action="/result" method="POST">

          {% if name %}
            <center>
              <h3 style="color: blue;" class="let_space">Files generated succesfully!!</h3>
            </center> 

          {% endif %}
          <label for="positive marks">Enter positive marks:</label>
          <input type="" id="positive marks" name="positive marks" step = 'any'>
          <label for="negative marks">Enter negative marks:</label>
          <input type="" id="negative marks" name="negative marks" step = 'any'>

          <input class="file_submit" type="Submit" value = 'Generate Marksheets'>

        </form>

        

        

        
        <br>
        <br>
        <br>


    </body>

</html>




<html> 
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" type="text/css" href="../static/index.css"> 




	</head>
	
	<body>

        <form class="grid" action="/sendMail" method="POST">

          {% if name %}
            <center>
              <h3 style="color: blue;" class="let_space"></h3>
            </center> 

          {% endif %}
         
          <center><input class="file_submit" type="Submit" value = 'send email'></center>

        </form>

        

        

        
        <br>
        <br>
        <br>


    </body>

</html>


<html> 
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="stylesheet" type="text/css" href="../static/index.css"> 




	</head>
	
	<body>

        <form class="grid" action="/marksheet" method="POST">

          {% if name %}
            <center>
              <h3 style="color: blue;" class="let_space"></h3>
            </center> 

          {% endif %}
         
          <center><input class="file_submit" type="Submit" value = 'generate concise marksheet'></center>

        </form>

        

        

        
        <br>
        <br>
        <br>


    </body>

</html>